* {
    margin: 0;
}
.container {
    background-color: white;
    height: 100vh;
    display: grid;
    grid-template-columns: 0.5fr 1fr 1fr 1fr 1fr;
    grid-template-areas: 
    "g a b b b"
    "g a c c d"
    "g a e f d";
}
.ban {
background-color:red;
grid-area: a;
height: 100vh;
}
.nawi {
    background-color: lightgreen;
    grid-area: b;
    height: 20vh;
}
.glow {
background-color: skyblue;
grid-area: c;
height: 40vh;
}
.pob {
    grid-area: d;
    background-color: pink;
    height: 80vh;
}
.stop {
background-color: yellow;
grid-area: e;
height: 40vh;
}
.dod {
background-color: yellow;
grid-area: f;
height: 40vh;
}
.menu {
    grid-area: g;
    background-color: #99ccff;
    height: 100vh;
  }
.link {
    padding: 1rem;
    margin-left: 10px;
    margin-top: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    width: 70%;
  }
a:link, a:visited {
    background-color: #99ccff;
    color: black;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
  
  }
  
a:hover, a:active {
    background-color: red;
  
  }
li {
    list-style-type: none;
}