* {
    margin: 0;
    padding: 0;
  }
  .container {
    background-color: rgb(50, 117, 205);
    height: 100vh;
    display: grid;
    grid-template-columns: 0.5fr 1fr 1fr 1fr;
    grid-template-areas: 
    "g a b f"
    "g c c e"
    "g d d e";
  }
  header {
      background-color: red;
      grid-area: a;
      height: auto;
  }
  nav {
      background-color: lightgreen;
      grid-area: b;
      height: auto;
  }
  main {
      background-color: lightskyblue;
      grid-area: c;
      height: auto;
  }
  aside {
      background-color: pink;
      grid-area: e;
  }
  footer {
      background-color: yellow;
      grid-area: d;
      height: auto;
  }
  .dod {
    background-color:lightgreen;
    grid-area: f;
    height: auto;
  }
  .menu {
    grid-area: g;
    background-color: #99ccff;
    height: 100vh;
  }
.link {
    padding: 1rem;
    margin-left: 10px;
    margin-top: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    width: 70%;
  }
a:link, a:visited {
    background-color: #99ccff;
    color: black;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
  
  }
  
a:hover, a:active {
    background-color: red;
  
  }
  