* {
    margin: 0;
    padding: 0;
  }
  .container {
    background-color: rgb(50, 117, 205);
    height: 100%;
    display: grid;
    grid-template-columns: 0.5fr 1fr 1fr 1fr;
    grid-template-areas: 
    "g b b b"
    "g a c e"
    "g a d d";
  }
  .ban {
      background-color: red;
      grid-area: a;
      height: 85%;
  }
  .nawi {
      background-color: lightgreen;
      grid-area: b;
      height: 15%;
  }
  .glow {
      background-color: lightskyblue;
      grid-area: c;
      height: 45%;
  }
  .pob {
      background-color: pink;
      grid-area: e;
      height: 45%;
  }
  .stop {
      background-color: yellow;
      grid-area: d;
      height: 40%;
  }
  .menu {
    grid-area: g;
    background-color: #99ccff;
    height: 100%;
  }
.link {
    padding: 1rem;
    margin-left: 10px;
    margin-top: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    width: 70%;
  }
a:link, a:visited {
    background-color: #99ccff;
    color: black;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
  
  }
  
a:hover, a:active {
    background-color: red;
  
  }
li {
    list-style-type: none;
}
table, th, td {
    border: 1px solid black;
  }
  table {
    border-collapse: collapse;
  }
  th, td {
    padding: 8px;
    text-align: center;
  }
  th {
    background-color: #9999ff; 
  }
  tr {
    background-color: #e6ffff;
  }